---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Naman Gupta | Software Engineer & Trainer">
  <Header />
  <main>
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Contact />
  </main>
  <Footer />
</BaseLayout>